@import '../../styles/index';

.checkout {
	.login__form {
		margin: 0;
		max-width: none;
		padding-bottom: 0;
	}

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;

		gap: rem(20);
	}

	&__detail {
		border: 2px solid var(--color-light-grey);
		padding: rem(30);
		border-radius: rem(20);
		h2 {
			font-size: rem(40);
			margin-bottom: rem(20);
		}

		.form-btn {
			flex-direction: column;
			gap: rem(20);

			.btn {
				margin-bottom: 0;

				&--primary {
					margin-top: rem(20);
				}
			}
		}
	}

	&__cart {
		border: 2px solid var(--color-light-grey);
		padding: rem(30);
		border-radius: rem(20);

		h2 {
			font-size: rem(40);
			margin-bottom: rem(20);
		}

		.basket {
			&__item {
				display: flex;
				margin-bottom: rem(30);
				gap: rem(20);
				align-items: center;
				justify-content: space-between;
				border-bottom: 2px solid var(--color-light-grey);
			}

			&__img {
				width: rem(200);
				height: rem(200);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&__details {
				width: 40%;
			}
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(20);
	}

	&__btn-edit {
		margin-bottom: 0 !important;
	}
}
