@import '../../styles//index';

.contact {
	&__infor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: rem(60);
	}
	&__item {
		h3 {
			font-size: rem(24);
		}

		p {
			font-size: rem(18);
		}

		a {
			text-decoration: underline;
			font-weight: 600;
		}
	}

	&__form {
		display: flex;
	}
}
