@import '../../styles/index';

.about {
	&__image {
		width: 100%;
		border-radius: rem(50);
		object-fit: cover;
	}

	&__infor {
		display: flex;
		justify-content: stretch;
	}

	&__text {
		padding-left: rem(60);
	}

	&__text-title {
		position: relative;
		margin-bottom: rem(32);
		padding-left: rem(32);
		font-size: rem(24);
		line-height: 1.7;
		font-weight: 600;
		color: var(--color-primary);

		&::before {
			content: '';
			position: absolute;
			top: rem(16);
			left: 0;
			width: rem(8);
			height: rem(8);
			border-radius: 50%;
			background: var(--color-primary);
		}
	}

	&__text-paragh {
		padding-left: rem(32);
		font-size: rem(24);
		line-height: 2;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		gap: rem(20);
	}

	&__icon {
		margin-bottom: rem(32);
		background-color: var(--color-light-grey);
		display: inline-block;
		padding: rem(16) rem(20);
		border-radius: 50px;
	}

	&__title {
		font-size: rem(24);
		margin-bottom: rem(16);
	}

	&__desc {
		font-size: rem(20);
	}
}
