:root {
	--color-primary: #00cc96;
	--color-white: #fff;
	--color-black: #1a202c;
	--color-light-grey: #f6f7fb;
	--color-blue: #4479ff;
	--color-pink: #ff66a0;
	--color-error: red;
	--color-orange: #ffc552;
	--color-green: #28cc96;
}
