@import '../../styles//index';
.main {
	font-family: 'Montserrat', sans-serif;

	.section-hero {
		.hero {
			&__banner {
				display: flex;
				align-items: center;
				justify-content: space-around;
				background-color: var(--color-light-grey);
				padding: rem(50);
				border-radius: rem(50);
			}

			&__details {
				max-width: rem(370);
			}

			&__image {
				img {
					max-width: 100%;
					max-height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.category {
		.rec.rec-arrow:focus {
			background-color: var(--color-primary);
			color: var(--color-white);
		}

		.rec.rec-arrow:disabled {
			visibility: hidden;
		}

		.rec.rec-arrow {
			background-color: var(--color-primary);
			color: var(--color-white);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.rec.rec-arrow:hover {
			background-color: var(--color-white);
			color: var(--color-primary);
		}

		&__item {
			background-color: var(--color-light-grey);
			display: inline-block;
			border-radius: rem(20);
			width: 100%;
			height: rem(120);
			position: relative;
			margin: 0 rem(10);
		}

		&__box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&__icon {
			margin-bottom: rem(15);
			display: block;
		}

		&__img {
			display: block;
			margin: 0 auto;
		}

		&__name {
			text-align: center;
			font-size: 14px;
			font-weight: 500;
		}
	}

	.product-newest {
		&__btn {
			text-align: center;

			.btn--center {
				width: 50%;
			}
		}
	}

	.section-about {
		.about {
			&__content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				text-align: center;
			}

			&__icon {
				margin-bottom: rem(32);
				background-color: var(--color-light-grey);
				display: inline-block;
				padding: rem(16) rem(20);
				border-radius: 50px;
			}

			&__title {
				font-size: rem(24);
				margin-bottom: rem(16);
			}

			&__desc {
				font-size: rem(20);
			}
		}
	}

	.section-review {
		.review {
			&__banner {
				background-color: var(--color-light-grey);
				padding: rem(50);
				border-radius: rem(50);
				display: flex;
				align-items: center;
			}

			&__details {
				width: 50%;
			}

			&__text {
				width: 50%;
			}

			&__title {
				font-size: rem(40);
				margin-bottom: rem(40);
				font-weight: 700;
			}

			&__box {
				padding: rem(20);
			}

			&__img {
				margin-bottom: rem(32);
				outline-offset: 8px;
				display: inline-block;
				border-radius: 50%;
				overflow: hidden;
				img {
					object-fit: cover;
					width: rem(60);
					height: rem(60);
				}
			}

			&__name {
				margin-bottom: rem(16);
			}
		}

		.rec.rec-arrow:focus {
			background-color: var(--color-primary);
			color: var(--color-white);
		}

		.rec.rec-arrow:disabled {
			visibility: hidden;
		}

		.rec.rec-arrow {
			background-color: var(--color-primary);
			color: var(--color-white);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.rec.rec-arrow:hover {
			background-color: var(--color-white);
			color: var(--color-primary);
		}

		.rec.rec-dot_active {
			background-color: var(--color-primary);
			box-shadow: 0 0 1px 3px var(--color-primary);
		}

		.rec.rec-dot:focus {
			background-color: var(--color-primary);
			box-shadow: 0 0 1px 3px var(--color-primary);
		}

		.rec.rec-dot:hover {
			box-shadow: 0 0 1px 3px var(--color-primary);
		}
	}

	.section-blog {
		.blog {
			&__box {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				row-gap: rem(35);
			}

			&__item {
				&--1 {
					flex: 0 0 calc(66.666% - 20px);
					width: calc(66.666% - 20px);
				}

				&--2 {
					flex: 0 0 calc(33.333% - 20px);
					width: calc(33.333% - 20px);
				}

				&--3 {
					flex: 0 0 calc(33.333% - 20px);
					width: calc(33.333% - 20px);
				}

				&--4 {
					flex: 0 0 calc(33.333% - 20px);
					width: calc(33.333% - 20px);
				}

				&--5 {
					flex: 0 0 calc(33.333% - 20px);
					width: calc(33.333% - 20px);
				}

				&--6 {
					flex: 0 0 calc(50% - 20px);
					width: calc(50% - 20px);
				}

				&--7 {
					flex: 0 0 calc(50% - 20px);
					width: calc(50% - 20px);
				}
			}

			&__photo {
				overflow: hidden;
				margin-bottom: rem(20);
				height: 40vh;
			}

			&__img {
				border-radius: rem(50);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&__title {
				font-size: rem(24);
				margin-bottom: rem(16);
			}

			&__label {
				text-transform: uppercase;
				font-size: rem(16);
				font-weight: 700;
				padding: rem(12) rem(20);
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: currentColor;
					border-radius: rem(20);
					opacity: 0.2;
				}

				&--orange {
					color: var(--color-orange);
				}

				&--blue {
					color: var(--color-blue);
				}

				&--pink {
					color: var(--color-pink);
				}

				&--green {
					color: var(--color-green);
				}
			}

			&__btn {
				text-align: center;
			}
		}
	}
}

@media (max-width: $sm-max) {
	.main {
		.section-about {
			.about {
				&__content {
					flex-direction: column;
				}

				&__item {
					margin: rem(30) 0;
				}
			}
		}

		.section-review {
			.review {
				&__banner {
					background-color: var(--color-white);
					display: block;
					padding: 0;
				}

				&__details {
					width: 100%;
					// text-align: center;
				}

				&__title {
					font-size: rem(32);
				}

				&__text {
					width: 100%;
					text-align: center;
				}
			}
		}

		.section-blog {
			.blog {
				&__item {
					&--1 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--2 {
						flex: 0 0 calc(50% - 20px);
						width: calc(50% - 20px);
					}

					&--3 {
						flex: 0 0 calc(50% - 20px);
						width: calc(50% - 20px);
					}

					&--4 {
						flex: 0 0 calc(50% - 20px);
						width: calc(50% - 20px);
					}

					&--5 {
						flex: 0 0 calc(50% - 20px);
						width: calc(50% - 20px);
					}

					&--6 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--7 {
						flex: 0 0 100%;
						width: 100%;
					}
				}

				&__photo {
					margin-bottom: rem(10);
				}

				&__title {
					margin-bottom: rem(20);
				}
			}
		}
	}
}

@media (max-width: $xs-max) {
	.main {
		.section-hero {
			.hero {
				&__banner {
					flex-direction: column;
					padding: 0;
					background-color: var(--color-white);
				}

				&__details {
					max-width: unset;
					margin-bottom: rem(40);
				}

				&__title {
					font-size: rem(32);
					margin-bottom: rem(24);
					margin-top: rem(10);
				}

				&__image {
					background-color: var(--color-light-grey);
					border-radius: rem(50);
				}
			}
		}
	}
}

@media (max-width: $xxs-max) {
	.main {
		.section-blog {
			margin-bottom: 0;

			.blog {
				&__item {
					&--1 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--2 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--3 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--4 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--5 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--6 {
						flex: 0 0 100%;
						width: 100%;
					}

					&--7 {
						flex: 0 0 100%;
						width: 100%;
					}
				}
			}
		}

		.section-review {
			.review {
				&__box {
					padding: 0;
					padding-bottom: rem(15);
				}
			}
		}
	}
}
