@import '../../styles/index';

.product-detail {
	font-family: 'Montserrat', sans-serif;

	&__infor {
		display: flex;
		gap: rem(100);
		align-items: center;
		margin-bottom: rem(50);
	}

	&__photo {
		width: 50%;
		height: 100%;
		object-fit: cover;
		border-radius: rem(50);
		overflow: hidden;
	}

	&__image {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	&__box {
		width: 60%;
	}

	&__sale {
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
	}

	&__category {
		margin-right: rem(40);
		color: var(--color-orange);
		position: relative;
		font-weight: 700;
		padding: rem(15) rem(16);

		&::before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: currentColor;
			opacity: 0.2;
			border-radius: rem(50);
		}
	}

	&__price {
		display: flex;
		align-items: center;

		&--actual {
			margin-right: rem(20);
			font-size: rem(26);
			font-weight: 700;
		}

		&--old {
			text-decoration: line-through;
			opacity: 0.8;
		}
	}

	&__cart {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		gap: rem(30);
	}

	&__desc {
		margin-bottom: rem(20);
	}

	&__btn {
		text-align: center;
	}

	&__count {
		display: inline-block;
		width: rem(32);
		position: relative;
		margin: 0 rem(16);

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__icon {
		cursor: pointer;
	}

	&__icon-heart--active {
		color: var(--color-error);
	}

	&__icon-heart {
		line-height: 100%;
	}

	&__features {
		display: flex;
		margin-bottom: rem(50);
	}

	&__features-title {
		width: 50%;
	}

	&__features-box {
		width: 50%;
	}

	&__features-item {
		display: flex;
		gap: rem(30);
		align-items: flex-start;
		margin-bottom: rem(20);

		h4 {
			font-size: rem(24);
			display: block;
		}
	}
	.rec.rec-arrow:focus {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
	.rec.rec-arrow:disabled {
		visibility: hidden;
	}

	.rec.rec-arrow {
		background-color: var(--color-primary);
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.rec.rec-arrow:hover {
		background-color: var(--color-white);
		color: var(--color-primary);
	}

	.rec.rec-dot_active {
		background-color: var(--color-primary);
		box-shadow: 0 0 1px 3px var(--color-primary);
	}

	.rec.rec-dot:focus {
		background-color: var(--color-primary);
		box-shadow: 0 0 1px 3px var(--color-primary);
	}

	.rec.rec-dot:hover {
		box-shadow: 0 0 1px 3px var(--color-primary);
	}
}

@media (max-width: $sm-max) {
	.product-detail {
		&__infor {
			flex-direction: column;
			gap: rem(20);
		}

		&__box {
			width: 100%;
		}

		&__features {
			flex-direction: column;
		}

		&__features-box {
			width: 100%;
		}

		&__features-title {
			width: 100%;
		}

		.section-review {
			margin-bottom: 0;
			.review {
				&__banner {
					background-color: var(--color-white);
					display: block;
					padding: 0;
				}

				&__details {
					width: 100%;
					// text-align: center;
				}

				&__title {
					font-size: rem(32);
				}

				&__text {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: $xxs-max) {
	.product-detail {
		&__sale {
			flex-direction: column;
			align-items: flex-start;
		}

		&__category {
			margin-bottom: rem(10);
		}

		&__price,
		&__icon {
			margin-left: rem(5);
		}

		&__cart {
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		.section-review {
			.review {
				&__box {
				}
			}
		}
	}
}
