@import '../../styles/index';

.related {
	// display: flex;
	// flex-wrap: wrap;
	// grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: repeat(auto, 1fr);
	// display: inline-block;

	&__item {
		background-color: var(--color-light-grey);
		padding: rem(20);
		display: flex;
		flex-direction: column;
		align-items: stretch;
		height: rem(350);
		border-radius: rem(20);
		margin-right: rem(20);
		margin-bottom: rem(20);
	}

	&__img {
		// width: rem(200);
		// height: rem(200);
		border-radius: rem(10);
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__name {
		width: rem(200);
	}
	.product_item {
		margin: 0 rem(5);
	}

	.rec.rec-arrow:disabled {
		visibility: hidden;
	}

	.rec.rec-arrow {
		background-color: var(--color-primary);
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.rec.rec-arrow:hover {
		background-color: var(--color-white);
		color: var(--color-primary);
	}

	.rec.rec-arrow:focus {
		background-color: var(--color-primary);
	}
}
