@import '../../styles//index';
.login {
	font-family: 'Montserrat', sans-serif;

	&__text {
		color: var(--color-blue);
		font-weight: 500;
		margin-bottom: rem(20);
	}

	&__form {
		max-width: rem(496);
		margin: 0 auto;
		position: relative;
		padding-bottom: rem(40);
		font-size: rem(16);
	}

	&__create {
		font-size: rem(40);
		margin-bottom: rem(64);
	}

	.form-label {
		display: block;
		margin-bottom: rem(8);
	}

	.form-input {
		display: block;
		width: 100%;
		padding: rem(20);
		border-radius: rem(30);
		border: rem(3) solid var(--color-light-grey);
		outline: none;
		margin-bottom: rem(16);
	}

	input[type='email']:focus,
	input[type='password']:focus {
		border: rem(3) solid var(--color-primary);
		transition: all 0.3s ease;
	}

	.form-btn {
		display: block;
	}

	.btn {
		&-login {
			display: flex;
			gap: rem(20);
		}
	}
}
