@import 'styles/_index.scss';

.product-detail {
	&__number {
		display: flex;
		border-radius: rem(50);
		border: 2px solid var(--color-light-grey);
		padding: rem(16);
		justify-content: space-around;
	}
}
